<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.Test.main.service.dao.MemberDAO">

	<select parameterType="TestMemberVO" id="login" resultType="TestMemberVO">
		SELECT ID, NAME, PASSWORD, EMAIL, PHONE
		FROM TESTMEMBERSEO
		WHERE ID = #{id} AND PASSWORD = #{password}
	</select>
	
	<select parameterType="TestMemberVO" id="logout" resultType="TestMemberVO">
		SELECT ID, NAME, PASSWORD, EMAIL, PHONE
		FROM TESTMEMBERSEO
		WHERE ID = #{id} AND PASSWORD = #{password}
	</select>
	
	<insert parameterType="TestMemberVO" id="signUp">
		INSERT INTO TESTMEMBERSEO(ID, NAME, PASSWORD, EMAIL, PHONE)
		VALUES(#{id}, #{name}, #{password}, #{email}, #{phone}) 
	</insert>
	
	<select parameterType="String" id="idcheck" resultType="int">
		SELECT COUNT(*)
		FROM TESTMEMBERSEO
		WHERE ID = #{id} 
	</select>
	
	<select id="admin_ipCheck" parameterType="TestMemberVO" resultType="String">
		SELECT
		REPLACE(REPLACE(JSON_EXTRACT(INFO1, '$.ACCEPT_ADMIN.IP'),'[',''),']','') AS INFO1
		FROM TEST_CONFIG
		WHERE INFOMATION = 'TEST' 
		AND DEFAULT_NUM = 'WEB_ADMIN'
	</select>
	

</mapper>


